<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
	<div class="card-header text-center">Meu Carrinho</div>
	<div class="card-body">
		<div class="form-group">
			<label for="despesasTotais">Despesas Totais:</label>
			<input type="text" class="form-control" #despesasTotais>
		</div>
		<hr>
		<div class="form-group">
			<label for="margemLucro">Margem de Lucro:</label>
			<input type="text" class="form-control" #margemLucro>
		</div>
		<hr>
		<h5 class="card-title">Total: R$ {{ total }}</h5>
	</div>
</div>